@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth {
  @apply flex-center min-h-screen w-full bg-purple-100;
}

@layer utilities {
  .wrapper {
    @apply max-w-5xl mx-auto w-full;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

.contact-form-fields {
  @apply border-b-[1px] border-black bg-inherit outline-none;
}
::placeholder {
  @apply text-sm;
}

/* admin dashboard */

.form-item-container {
  @apply flex flex-col gap-1;
}
.form-items {
  @apply border-2 border-slate-400 outline-none  focus:border-slate-500 px-2 py-2 rounded;
}

.content-container {
  height: calc(100vh + theme("spacing.20"));
}

/* carousel */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla {
  max-width: 70rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.vertical-timeline-element {
  border-bottom: none;
  border: none;
  background-color: yellow;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid #000;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 6.7px;
  background: conic-gradient(from 135deg at top, #134c83 90deg, #0000 0) 0
      calc(50% - 4.5px) / 19px 9.5px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 6.7px),
        #134c83 calc(100% - 5.6px) 99%,
        #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 6.7px),
        #134c83 calc(100% - 5.6px) 99%,
        #0000
      )
      bottom / 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: spinner-v8og74 1s infinite linear;
}

@keyframes spinner-v8og74 {
  100% {
    transform: rotate(1turn);
  }
}

/* infinite banner */
.banner-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  margin-top: 40px;
  position: relative;
}

.banner {
  display: flex;
  white-space: nowrap;
  animation: custom-scroll 20s linear infinite;
}

.banner-item .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  margin-left: 10px;
}

@keyframes custom-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
}

/* rich text custom styles */

.quill {
  border-radius: 6px;
  height: 200px;
}

.quill:focus {
  border: 1px solid #134c83;
}

.quill .ql-toolbar {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.quill .ql-container {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quill-editor {
  border-radius: 8px;
}

.quill-editor:focus-within .ql-container,
.quill-editor:focus-within .ql-toolbar {
  --tw-border-opacity: 1;
  border-width: 1.8px;
  border-color: rgb(19, 76, 131);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(19, 76, 131 / var(--tw-ring-opacity));
}
